.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF0D9;
  }
  
  .signup-form {
    background-color: white;
    padding: 90px;
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signup-container .signup-form h1{
    text-align: center;
    color: black;
  }

  .signup-form h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .input-field:focus {
    border-color: #198754;
    outline: none;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: -10px;
  }
  
  .submit-btn {
    background-color:  rgb(44, 43, 43);
    color: white; 
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  